#!/bin/bash

set -e

export BACKUP_DIRECTORY="{{ backup.local_directory }}"
export APP="{{ user.name }}"
export DB_NAME="{{ user.name }}"
export RETENTION={{ backup.retention_days }}
export USER="{{ user.name }}"
export PASS="{{ user.password }}"
export S3_BACKUP_MOUNT="{{ backup.remote_directory }}"
export S3_BACKUP_DIR="${S3_BACKUP_MOUNT}/{{ hostname }}/${APP}"
# specify ip instead of localhost for when no dns resolution
#export DB_HOST="127.0.0.1"

function delete_old_backup(){
	echo "deleting old backups older than ${RETENTION} in ${1}"
	if [[ $1 == ${S3_BACKUP_DIR} || $1 == "${BACKUP_DIRECTORY}/${APP}" ]]
	then
		DIR_TO_CHECK=$1

		num_of_backup_files=`ls -rt ${DIR_TO_CHECK}|wc -l`

		echo "Found ${num_of_backup_files} backup files"

		if [[ ${num_of_backup_files} -gt ${RETENTION} ]]
	       	then
			let "num_files_to_del=${num_of_backup_files} - ${RETENTION}"
			echo "deleting $num_files_to_del files"
			for f in `ls -rt -1 ${DIR_TO_CHECK}|head -n ${num_files_to_del}`
		       	do
				echo "deleting ${DIR_TO_CHECK}/${f}"
				rm ${DIR_TO_CHECK}/${f}
			done	
		fi
	else
		echo "${1} is not a known backup directory"

	fi 

}
# mount backup
ALREADY_MOUNT=`mount -l|grep "${S3_BACKUP_MOUNT}"|wc -l`
if [[ ${ALREADY_MOUNT} == "0" ]]
then
	echo "mounting ${S3_BACKUP_MOUNT}"
	mount ${S3_BACKUP_MOUNT}
else
	echo "${S3_BACKUP_MOUNT} already mounted"
fi
mkdir -p ${S3_BACKUP_DIR}
mkdir -p ${BACKUP_DIRECTORY}/${APP}
chown -R postgres: ${BACKUP_DIRECTORY}/${APP}

# backup postgresql database
backup_file="${BACKUP_DIRECTORY}/${APP}/${APP}_`date +%d-%m-%Y"_"%H_%M_%S`.sql"
echo "backup $APP postgres db in : $backup_file"
su - postgres -c "pg_dump -d $DB_NAME -f $backup_file"
echo "Compressing backup..."
pigz $backup_file

delete_old_backup "${BACKUP_DIRECTORY}/${APP}"
delete_old_backup "${S3_BACKUP_DIR}"

# mirror on S3
rsync -av -O --no-p --no-g --chmod=ugo=rwX --partial --inplace --append --progress ${BACKUP_DIRECTORY}/${APP}/*.gz ${S3_BACKUP_DIR}
umount ${S3_BACKUP_MOUNT}

# Free space on host
rm "${backup_file}.gz"
